{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'voting.css' %}">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
  <title>SkenVote - Voting</title>
</head>
<body>
  <div class="homepage">
    <nav class="top">
      <div class="logo">
        <a href="{% url 'home' %}"><img src="{% static 'img/IMG_3732.JPG' %}" alt=""></a>
      </div>
      <div class="menu">
        <ul class="menu1">
          <li><a href="#">About</a></li>
        </ul>

      </div>
    </nav>
    <div class="container-voting">
      <div class="konten">
        <h2 class="Judul" id="judul">PEMILU PUTARAN KEDUA</h2>
        oleh <span>KPU REPUBLIK INDONESIA</span>
        <p>Buat pilihan:</p>
        <div class="border-foto">
          
          {% for x in image_pics %}
          <div class="fotoKandidat1" id="kandidat1">
            <img src="{{ x.image.url }}" alt="{{ x.caption }}"  id="foto{{ forloop.counter }}" width="" height="180px">
            <div class="input1">
              <input type="radio" name="customRadio" id="myRadio1">
              <h3>{{ x.caption }}</h3>
            </div>
          </div>
          {% endfor %}

          {% for x in gambar_pics %}
          <div class="fotoKandidat2" id="kandidat2">
            <img src="{{ x.foto.url }}" alt="{{ x.deskripsi }}" id="foto{{ forloop.counter }}" width="" height="180px">
            <div class="input2">
              <input type="radio" name="customRadio" id="myRadio2">
              <h3>{{ x.deskripsi }}</h3>
            </div>
          </div>
        </div>
        {% endfor %}

      
        <div class="button">
          <div class="vote">
            <a href="{% url 'BerhasilVoting' %}"><button>VOTE <span><i class="bx bxs-right-arrow-alt"></i></span></button></a>
          </div>
          <div class="result">
            <a href=""><button><span><i class="bx bxs-bar-chart-alt-2"></i></span>Lihat hasil</button></a>
          </div>
          <div class="share">
            <a href=""><button><span><i class="bx bxs-share-alt"></i></span>Share</button></a>
          </div>
        </div>
      </div>
    </div>
    <div class="lock">
      <i class="bx bxs-lock-alt"></i>One vote per IP-Address allowed.
    </div>
  </div>
  <div class="footer">
    <div class="footer-konten">
      <div class="logo-skenvote">
        <a href="{% url 'home' %}"><img src="{% static 'img/IMG_3732.JPG' %}" alt=""></a>
      </div>
      <div class="title-end">
        <h3>Memudahkan pembuatan pendapat dan survei dengan instan dan real-time secara gratis.</h3>
        <div class="icons">
          <a href="#"><i class="bx bxl-github"></i></a>
          <a href="#"><i class="bx bxl-instagram"></i></a>
          <a href="#"><i class="bx bxl-whatsapp"></i></a>
          <a href="#"><i class="bx bxl-discord-alt"></i></a>
        </div>
      </div>
      <a href="{% url 'about' %}">About</a>
    </div>
    <p>&copy; 2024 SKENVOTE. All Rights Reserved.</p>
  </div>

  <script src="{% static 'script.js' %}">
    window.onload = function() {
    var images = document.querySelectorAll('.fotoKandidat1 img');
    images.forEach(function(img) {
        img.style.width = img.offsetWidth + 'px'; // Atur lebar gambar menjadi lebar aslinya
    });
}
  </script>
</body>
</html>
